{% extends "_base.html" %}

{% block page_title %}
Logout
{% endblock %}
{% block content %}
<div class="text-center">

    <form action="" method="post">
    {% csrf_token %}
        <br>
        <br>
        <br>
        <h1> log out</h1>
        <h3>Are you sure you want to log out</h3>
        <br>
        <br>
    <button class="btn btn-small btn-bg-sand btn-color-dark px-3" type="submit"> yes </button>
        <br>
        <br>
        <br>
        <br>
        <br>
</form>
</div>

{% endblock %}
